/* || Base Styles*/
body {
    background-color: ivory;
    color: #474747;
}



/* || Typography */
h1 {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em 0;
}
h2 {
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    text-align: justify;
}
h3 {
    font-family: "Inter", serif;
    font-weight: 300;
    text-align: justify;
}
p, ol, ul {
    font-family: "Inter", serif;
    font-weight: 300;
    text-align: justify;
}



/* || List  Styles */
/* Ordered List */
ol li {
    padding: 1em 0;
}
ol li::marker {
    font-weight: bold;
}

/* Unordered List */
ul {
    list-style-type: none;
}
ul li {
    position: relative;
    padding: 1em 0;
    padding-left: 2em;
}
ul li::before {
    content:"🐱";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}

/* Nested List */
#playful::before {
    content:"😸";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
.playful::before {
    content:"🧶";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
#social::before {
    content:"😽";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
.social::before {
    content:"🍞";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
#defen::before {
    content:"😾";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
.defen::before {
    content:"💢";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
#groom::before {
    content:"😺";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
.groom::before {
    content:"🎀";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
#comm::before {
    content:"😻";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}
.comm::before {
    content:"🐟";
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    position:absolute;
    left: 0;
}



/* || Table Styles */
table {
    width: 100%;
    table-layout: fixed;
    margin: 1em auto;
}
table td {
    width: 33.33%;
    padding: 1em;
    text-align: center;
}
 /* Table Images */
.tableimg {
    width: 300px;
    height: auto;
    border-radius: 3px;
}
.tableimg2 {
    width: auto;
    height: 225px;
    border-radius: 3px;
}



/* || Header */
/* Logo */
#logo {
    display: flex;
    justify-content: center;
}
#logo a {
    display: block;
    padding: 0.25em;
    color:tomato;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
    white-space: nowrap;
}

/* Navbar */
#navbar {
    width: 80%;
    margin: 0 auto;
    background-color: ivory;
    display: flex;
    justify-content: space-evenly;
}
#navbar a {
    display: block;
    color: #474747;
    text-align: center;
    padding: 1em 1.5em;
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}
#navbar a:hover {
    background-color: ivory;
    color: tomato;
}
#navbar a.active {
    background-color: tomato;
    color: ivory;
}



/* || Page Contents */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
}

/* ASCII Cat */
#ascii-cat {
    display: flex;
    justify-content: center;
    font-family: "Chivo", serif;
    font-weight: 900;
    width: 80%;
    margin: 0 auto;
}

/* Welcome Blurb */
#welcome h2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
}
#welcome h3 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
}

/* Site Navigation Table */
.column1 h2 {
    text-align: center;
}
.column1 a {
    color: ivory;
    background-color: tomato;
    padding: 1em 1.5em;
    display: inline-block;
    text-decoration: none;
} 
.column1 a:hover {
    background-color: #474747;
}
table td h3 {
    text-align: center;
}

/* Navigation Button */
#navbutton {
    width:fit-content;
    margin: 0 auto;
    padding: 20px 0;
}
#navbutton a {       
    display: block;
    color: ivory;
    background-color: tomato;
    text-align: center;
    padding: 14px 20px;
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}
#navbutton a:hover {
    background-color: #474747;
}

/* || Footer */
footer {
    padding-bottom: 30px;
}
footer h1 {
    text-align: center;
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    color:tomato;
    width: 80%;
}
footer h4 {
    text-align: center;
    font-family: "Chivo", serif;
    font-weight: 500;
    color:tomato;
    width: 80%;
    margin: 1em auto;
}
footer h5 {
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 300;
    color:tomato;
    width: 80%;
    margin: 1em auto;
}